@import 'compass';

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin init-flex-position($align: row) {
  @if $align == row {
    @include flexbox((
            display: box,
            box-orient: horizontal
    ), $version: 1);
  }@else if $align == column {
    @include flexbox((
            display: box,
            box-orient: vertical
    ), $version: 1);
  }
  @include flexbox((
          display: flexbox,
          flex-direction: $align
  ), $version: 2);
  @include flexbox((
          display: flex,
          flex-direction: $align
  ));
}

.prev_page_btn {
  @include init-flex-position(row);
  @include align-items(center);
  @include single-box-shadow(.3px, .3px, 2px, .3px, #aaa);
  background: #666;
  border: 1px solid #444;
  color: white;
  height: 24px;
  padding: 6px;
  position: fixed;
  text-decoration: none;
  top: 64px;
  width: 80px;

  img {
    margin-right: 8px;
  }
}

$body-background-color: #efefef;
