.prev_page_btn {
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-shadow: 0.3px 0.3px 2px 0.3px #aaa;
  -webkit-box-shadow: 0.3px 0.3px 2px 0.3px #aaa;
  box-shadow: 0.3px 0.3px 2px 0.3px #aaa;
  background: #666;
  border: 1px solid #444;
  color: white;
  height: 24px;
  padding: 6px;
  position: fixed;
  text-decoration: none;
  top: 64px;
  width: 80px;
}
.prev_page_btn img {
  margin-right: 8px;
}

html, body {
  height: 100%;
}

.page-content {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 700px;
}

form {
  -webkit-align-self: center;
  align-self: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 0.3px 0.3px 12px 0.6px #ddd;
  -webkit-box-shadow: 0.3px 0.3px 12px 0.6px #ddd;
  box-shadow: 0.3px 0.3px 12px 0.6px #ddd;
  background: #E1E4E8;
  border: 1px solid #d5dadf;
  border-radius: 4px;
  margin-top: -50px;
  padding: 36px 48px 16px 48px;
  width: 360px;
}
form .field_label {
  color: #6D7D8F;
  font-size: 12pt;
  margin-top: 4px;
  padding-left: 2px;
}
form input, form select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f2f2f2;
  border: 1px solid #819bb4;
  color: #6C7F94;
  font-family: 'Andada SC', andadaregular, sans-serif;
  font-size: 14pt;
  height: 32px;
  padding: 0 8px;
  width: 100%;
}
form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f6f6f6 inset;
  -webkit-text-fill-color: #6C7F94 !important;
}
form .field_error {
  color: #C45C5C;
  font-size: 13px;
  padding: 2px 4px;
}
form button {
  -webkit-align-self: center;
  align-self: center;
  -moz-box-shadow: 0.3px 0.3px 2px 0.3px #bbb;
  -webkit-box-shadow: 0.3px 0.3px 2px 0.3px #bbb;
  box-shadow: 0.3px 0.3px 2px 0.3px #bbb;
  background: #607E9E;
  border: 1px solid #546f8b;
  color: #eee;
  cursor: hand;
  cursor: pointer;
  font-size: 16px;
  margin-top: 24px;
  min-width: 164px;
  padding: 12px 8px;
}

.sent_email_confirm_note {
  -moz-box-shadow: 0.3px 0.3px 12px 0.6px #cacaca;
  -webkit-box-shadow: 0.3px 0.3px 12px 0.6px #cacaca;
  box-shadow: 0.3px 0.3px 12px 0.6px #cacaca;
  background: #E1E4E8;
  border: 1px solid #cacfd6;
  border-radius: 4px;
  color: #666;
  padding: 16px;
}
